{
  "env": {
    "development": {
      "plugins": [
        "transform-object-rest-spread",
        "transform-class-properties",
        "syntax-dynamic-import",
        "transform-decorators-legacy"
      ],
      "presets": [
        [
          "env",
          {
            "targets": {
              "browsers": [
                "last 1 Chrome versions",
                "last 1 Firefox versions",
                "last 1 Safari versions"
              ]
            },
            "modules": false,
            "loose": true
          }
        ]
      ]
    },
    "production": {
      "plugins": [
        "transform-object-rest-spread",
        "transform-class-properties",
        "syntax-dynamic-import",
        "transform-decorators-legacy",
        [
          "transform-imports",
          {
            "lodash": {
              "transform": "lodash/${member}",
              "preventFullImport": true
            }
          }
        ]
      ],
      "presets": [
        [
          "env",
          {
            "useBuiltIns": true,
            "debug": false,
            "modules": false,
            "targets": {
              "browsers": ["last 2 versions", "not ie <= 10"]
            }
          }
        ]
      ]
    }
  }
}
